@model List<RealEstate.Models.Rent>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch Count</title>
</head>
<body>
    <div>
        <b>Number of Buildings: @ViewBag.count </b>
    </div>
</body>
</html>
